<section>
  <form method="POST" action="https://api.slapform.com/{{site.slapform-ID}}">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" name="el_mt9u4y0u_84ocy4sp4" id="name" />
    </div>
    <div class="field">
      <label for="email">Email Address</label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="field">
      <label for="message">Message</label>
      <textarea name="el_mt9u5fc5_hupb8i13d" id="message" rows="3" style="resize: none;"></textarea>
    </div>
    <ul class="actions">
      <li><input type="submit" value="Send Message" class="btn btn--primary"/></li>
    </ul>
    <input type="hidden" name="slap_redirect" value="{{site.url}}/thank-you" /> <!-- slap_redirect allows you to set a custom redirect/thank you page --> 
  </form>
</section>
